# Virtual env
.venv/

# Python caches
__pycache__/
*.py[cod]

# Streamlit temp
.streamlit/

# Local data
math_unit_app/math_unit_concepts.json
math_unit_app/math-unit-pdf/
math_app/pdf_units/

# Misc
.DS_Store
.env
node_modules/
venv/
__pycache__/
.DS_Store
*.pdf
